@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

body {
    font-family: 'Nunito', sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background-color: #ffffff;
    padding: 25px;
    border-radius: 8px;
    box-shadow: 0 2px 14px rgba(0, 0, 0, 0.3);
    width: 340px;
}

.container h2 {
    text-align: center;
    margin-top: 0;
    margin-bottom: 20px;
}

.container label {
    font-size: 13pt;
    font-weight: 700;
    display: block;
    margin-bottom: 5px;
}

input[type="text"], input[type="password"], input[type="email"] {
    box-sizing: border-box;
    font-size: 12pt;
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 6px;
}

input[type="submit"] {
    width: 100%;
    background-color: hsl(252, 75%, 60%);
    color: white;
    border: none;
    padding: 12px;
    border-radius: 10px;
    cursor: pointer;
    font-size: 13pt;
    transition: all 300ms ease;
    margin-top: 6px;
}

input[type="submit"]:hover {
    opacity: 0.8;
}

.container .auth-link {
    font-size: 13pt;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 8px;
}

.container .auth-link p {
    margin: 4px;
}

.container .auth-link a {
    color: rgb(75, 75, 243);
}

.container .capture {
    text-align: center;
}