.middle .create-post {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 1rem;
    background: var(--color-white);
    padding: 0.4rem 1rem;
    border-radius: 1rem;
}

.middle .create-post .form-control {
    resize: none;
    width: 100%;
    height: 8rem;
    justify-self: start;
    padding-left: 1rem;
    background: transparent;
    color: var(--color-dark);
    margin-right: 1rem;
}

.middle .create-post .post-form {
    width: 100%;
    align-items: center;
    justify-self: start;
    padding-left: 1rem;
    background: transparent;
    color: var(--color-dark);
    margin-right: 1rem;
    margin-top: 1rem;
}

.middle .create-post .create-buttons {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.middle .create-post .preview {
    width: 100%;
}

.middle .feed {
    background: var(--color-white);
    border-radius: 1rem;
    padding: 1rem;
    margin: 1rem 0;
    font-size: 0.85rem;
    line-height: 1.5;
}

.middle .feed .head {
    display: flex;
    justify-content: space-between;
}

.bookmarked {
    color: gold;
}

.middle .feed .user {
    display: flex;
    gap: 1rem;
}

.middle .feed .photo {
    border-radius: 1rem;
    overflow: hidden;
    margin: 0.7rem 0;
}

.middle .feed .action-buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.1rem;
    margin: 0.6rem 0;
}

#file-preview {
    position: relative;
    display: flex;
    align-items: center;
    padding: 0.5rem;
    border-radius: 1rem;
    background-color: var(--color-dark)
}
#remove-file {
    position: absolute;
    top: 5px;
    right: 10px;
    background: transparent;
    border: none;
    cursor: pointer;  
    font-size: 20px;
    color: #ff0000;
}

.liked {
    color: red;
}

.feed .see-comments .comment-box .comment .head-comment {
    display: flex;
    gap: 1rem;
    align-items: center;
}
.feed .see-comments .comment-box .comment .head-comment .profile-photo{
    display: flex;
    gap: 1rem;
    width: 2.7rem;
}
.feed .see-comments .comment-box .comment {
    border: 0.1rem solid #ccc;
    padding: 10px;
    margin: 10px 0; 
    border-radius: 5px;
}

.feed .see-comments .cmt_btn {
    background-color: rgba(0, 0, 0, 0);
    color: var(--color-dark);
}

.feed .see-comments .cmt_btn:focus {
    outline: none;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

.feed .see-comments .comment .form-comment {
    flex-grow: 1;
    width: 29rem;
    border: 0.1rem solid #ccc;
    padding: 10px;
    margin: 10px 0; 
    border-radius: 5px;
    background-color: var(--color-white);
    color: var(--color-dark);
}
 
.feed .see-comments .comment .ui {
    display: flex;
    align-items: center;
}

.feed .see-comments .comment .btn {
    margin: 0 10px;
}