@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

:root {
    --primary-color-hue: 252;
    --dark-color-lightness: 17%;
    --light-color-lightness: 95%;
    --white-color-lightness: 100%;

    --color-white: hsl(252, 30%, var(--white-color-lightness));
    --color-light: hsl(252, 30%, var(--light-color-lightness));
    --color-grey: hsl(252, 15%, 65%);
    --color-primary: hsl(var(--primary-color-hue), 75%, 60%);
    --color-secondary: hsl(252, 100%, 90%);
    --color-success: hsl(120, 95%, 65%);
    --color-danger: hsl(0, 95%, 65%);
    --color-dark: hsl(252, 30%, var(--dark-color-lightness));
    --color-black: hsl(252, 30%, 10%);

    --card-border-radius: 1rem;
    --card-padding: 1rem;
}

*, *::before, *::after {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    border: none;
}

body {
    font-family: 'Nunito', sans-serif;
    color: var(--color-dark);
    background: var(--color-light);
    overflow-x: hidden;
}

/* =============== General Style ============== */
.grid-container {
    width: 80%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 18vw auto 20vw;
    position: relative;
}

img {
    display: block;
    width: 100%;
}

.profile-photo {
    width: 2.7rem;
    border-radius: 50%;
    overflow: hidden;
}

.btn {
    display: inline-block;
    padding: 0.6rem 2rem;
    font-weight: 500;
    border-radius: 2rem;
    cursor: pointer;
    transition: all 300ms ease;
    font-size: 0.94rem;
}

.btn:hover {
    opacity: 0.8;
}

.btn-primary {
    font-size: 0.98rem;
    background: var(--color-primary);
    color: var(--color-white);
}

.text-muted {
    color: var(--color-grey);
}

.uil {
    font-size: 1.4rem;
    color: var(--color-grey);
    position: relative;
}

.notification-count {
    background: var(--color-danger);
    color: white;
    font-size: 0.7rem;
    width: fit-content;
    border-radius: 0.8rem;
    padding: 0.1rem 0.4rem;
    position: absolute;
    top: -0.2rem;
    right: -0.3rem;
}

.search-input {
    background: var(--color-light);
    border-radius: 1.5rem;
    display: flex;
    align-items: center;
    padding-left: 0.4rem;
    padding-right: 0.4rem;
}

/* =============== Navbar ============== */
.upper-panel {
    width: 100%;
    background: var(--color-white);
    padding: 0.76rem 0;
    position: fixed;
    top: 0;
    z-index: 10;
}

.upper-panel .grid-container {
    column-gap: 1rem;
    align-items: center;
}

.upper-panel .middle-bar {
    display: flex;
}

.upper-panel .logo #point {
    position: absolute;
    background: var(--color-primary);
    border-radius: 50%;
    top: 0.74rem;
    left: 0.96rem;
    width: 0.30rem;
    height: 0.30rem;
}

.upper-panel .search-input {
    width: 100%;
}

.search-input input[type="search"] {
    width: 100%;
    background: transparent;
    color: var(--color-dark);   
}

.upper-panel .search-input input[type="search"] {
    font-size: 1.05rem;
    padding: 0.72rem 0.4rem;
}

.search-input input[type="search"]::placeholder {
    color: var(--color-grey);
}

.upper-panel .nofitications-item {
    display: flex;
    align-items: center;
    margin-left: 0.4rem;
    padding: 0.6rem 0.7rem 0.3rem 0.7rem;
    cursor: pointer;
    transition: all 300ms ease;
    position: relative;
    border-radius: 35%;
}

.upper-panel .search-input .uil {
    font-size: 1.2rem;
}

/* =============== Main ============== */
main {
    position: relative;
    top: 5.4rem;
}

main .grid-container {
    column-gap: 2rem;
}

/* =============== Left ============== */
main .grid-container .left {
    height: max-content;
    position: sticky;
    top: 5.4rem;
}

main .grid-container .left .profile-card {
    padding: var(--card-padding);
    background: var(--color-white);
    border-radius: var(--card-border-radius);
    display: flex;
    align-items: center;
    column-gap: 1rem;
    width: 100%;
}

/* =============== Sidebar ============== */
.left .sidebar {
    margin-top: 1rem;
    background: var(--color-white);
    border-radius: var(--card-border-radius);
}

.left .sidebar .item {
    display: flex;
    align-items: center;
    height: 4rem;
    cursor: pointer;
    transition: all 300ms ease;
    position: relative;
}

.left .sidebar .item:hover, .upper-panel .nofitications-item:hover {
    background: var(--color-light);
}

.left .sidebar .uil {
    margin-left: 2rem;
}

.left .sidebar h3 {
    margin-left: 1.5rem;
    font-size: 1rem;
}

.left .sidebar .active {
    background: var(--color-light);
}

.left .sidebar .active i, .left .sidebar .active h3 {
    color: var(--color-primary);
}

.left .sidebar .active::before {
    content: "";
    display: block;
    width: 0.5rem;
    height: 100%;
    position: absolute;
    background: var(--color-primary);
}

.left .sidebar .item:first-child.active {
    border-top-left-radius: var(--card-border-radius);
    overflow: hidden;
}

.left .sidebar .item:last-child.active {
    border-bottom-left-radius: var(--card-border-radius);
    overflow: hidden;
}

.left .btn {
    margin-top: 1rem;
    width: 100%;
    text-align: center;
    padding: 1rem 0;
    margin-bottom: 0.7rem;
}

/* =============== Messages ============== */
.right .messages {
    background: var(--color-white);
    border-radius: var(--card-border-radius);
    padding: var(--card-padding);
}

.right .messages .heading {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1rem;
}

.right .messages i {
    font-size: 1.4rem;
}

.right .messages .search-input {
    margin-bottom: 1rem;
}

.right .messages .search-input input[type="search"] {
    font-size: 0.95rem;
    padding: 0.72rem 0.3rem;
}

.right .messages .search-input i {
    font-size: 1.1rem;
}

.right .messages .message-requests {
    color: var(--color-primary);
}

.right .messages .message {
    display: flex;
    gap: 1rem;
    margin-bottom: 1rem;
    align-items: start;
}

.right .message .profile-photo {
    position: relative;
    overflow: visible;
}

.right .profile-photo img {
    border-radius: 50%;
}

.right .messages .message:last-child {
    margin: 0;
}

.right .messages .message p {
    font-size:0.8rem;
}

/* =============== Friend Requests ============== */
.right .friend-requests {
    margin-top: 1rem;
}

.right .friend-requests h4 {
    color: var(--color-grey);
    margin: 1rem 0;
}

.right .friend-requests .request {
    background: var(--color-white);
    padding: var(--card-padding);
    border-radius: var(--card-border-radius);
    margin-bottom: 0.7rem;
}

.right .friend-requests .request .info {
    display: flex;
    gap: 1rem;
    margin-bottom: 1rem;
}

.right .friend-requests .request .action {
    display: flex;
    gap: 1rem;
}