<div class="post">
    <div class="head">
        <div class="user url-item" url="/accounts/{{ obj.author.username }}/">
            {% if obj.author.avatar %}
                <div class="profile-photo">
                    <img src="{{ obj.author.avatar.url }}">
                </div>

            {% else %}
            <div class="profile-photo">
                <img src="static/images/avatars/default_avatar.png">
            </div>
            {% endif %}
            <div class="info">
                <h4>{{ obj.author.username }}</h4>
            
                {% if obj.created_just_now %}
                    <p class="text-muted">только что</p>
                {% else %}
                    <p class="text-muted">{{ obj.created|timesince }} назад</p>
                {% endif %}
            </div>
        </div>
        <form class="bookmark-form" method="POST" data-url="{% url 'feed:bookmark-view' %}">
            {% csrf_token %}
            <input type="hidden" name="post_id" value="{{obj.id}}">
            <button type="submit" class="bookmark" style="background-color: var(--color-white)">
                <i class="uil uil-bookmark-full {% if user in obj.bookmark.all %} bookmarked {% endif %}"></i>
            </button>
        </form>
        
    </div>

    {% if obj.image %}
    <div class="photo">
        <img src="{{obj.image.url}}">
    </div>
    {% endif %}

    <div class="caption">
        <p>{{obj.content}}</p>
    </div>

    <div class="action-buttons">
        <form class="like-form" method="POST" data-url="{% url 'feed:like-post-view' %}">
            {% csrf_token %}
            <input type="hidden" name="post_id" value="{{ obj.id }}">
            <button type="submit" class="sth" style="background-color: rgba(0, 0, 0, 0);">
                <i class="uil uil-heart {% if user in obj.liked.all %} liked {% endif %}"></i>
            </button>
            <span class="like-count">{{ obj.liked.count }}</span>
            <span><i class="uil uil-comment-dots" style="background-color: rgba(0, 0, 0, 0);"></i></span>
            <span class="comments-count">{{ obj.comments.count }}</span>
        </form>
    </div>
    <div class="see-comments">
        <button class="cmt_btn ui button mb-5" style="font-family: 'Nunito', sans-serif;">Показать/спрятать комментарии</button>
        <div class="comment-box" style="display: none;">
            {% include 'feed/comments_list.html' with post=obj %}
        </div>
        <div class="comment">
            <form action="" method="POST" class="ui form">
                {% csrf_token %}
                <input type="hidden" name="post_id" value="{{obj.id}}">
                {{comment_form}}
                <button class="btn btn-primary" name="comment_button">отправить</button>
            </form>
        </div>
    </div>
</div>