{% load static %}

<div class="user-item">
    <div class="info">
        <div class="profile-photo">
            <img src="{% static 'images/avatars/default_avatar.png' %}">
        </div>
        <div class="handle">
            <h4>wyborn</h4>
            <p class="text-muted">9 общих друзей</p>
        </div>
    </div>
    <div class="actions">
        <button class="btn"><i class="uil uil-comment-edit"></i></button>
        <button class="btn"><i class="uil uil-user-times"></i></button>
    </div>
</div>