{% extends 'content_base.html' %}

{% block content %}
    <div class="chats">
        <h3 class="heading">Сообщения</h3>
        <!----------------- SEARCH INPUT -------------------->
        <div class="search-input">
            <i class="uil uil-search"></i>
            <input type="search" placeholder="Поиск...">
        </div>
        <div class="chat-item">
            <div class="profile-photo">
                <img src="">
            </div>
            <div class="handle">
                <h4>wyborn</h4>
                <p class="text-muted">WASSUP!</p>
            </div>
        </div>
        <div class="chat-item">
            <div class="profile-photo">
                <img src="">
            </div>
            <div class="handle">
                <h4>kurylov89iq</h4>
                <p class="text-muted">А вот я думаю...</p>
            </div>
        </div>
    </div>
{% endblock %}