{% extends 'content_base.html' %}

{% block title %}
    <title>Сообщения</title>
{% endblock %}

{% block content %}
    <div class="chats-list">
        <h3 class="heading">Сообщения</h3>
        <!----------------- SEARCH INPUT -------------------->
        <div class="search-input">
            <i class="uil uil-search"></i>
            <input type="search" placeholder="Поиск...">
        </div>
        {% if self_chats_and_last_messages %}
            {% for chat_, last_message_ in self_chats_and_last_messages %}
                <div class="chat-item">
                    <div class="profile-photo">
                        {% for participant_ in chat_.participants.all %}
                            {% if participant_.pk != request.user.pk %}
                                <img src="{{ participant_.avatar.url }}">
                            {% endif %}
                        {% endfor %}
                    </div>
                    <div class="handle">
                        {% for participant_ in chat_.participants.all %}
                            {% if participant_.pk != request.user.pk %}
                                <h4>{{ participant_.username }}</h4>
                                <p class="text-muted">
                                    {% if last_message_ %}
                                        {{ last_message_.sender }}: {{ last_message_.content }}
                                    {% else %}
                                        Нет сообщений
                                    {% endif %}
                                </p>
                            {% endif %}
                        {% endfor %}
                    </div>
                </div>
            {% endfor %}
        {% endif %}
    </div>
{% endblock %}