{% extends 'content_base.html' %}

{% block title %}
    <title>Главная</title>
{% endblock %}

{% block content %}
    {% include 'includes/post_creation.html' %}
    {% for post in query_set %}
        <div class="post">
            <div class="user-info url-item" url="/accounts/{{ post.author.username }}">
                <div class="profile-photo">
                    <img src="{{ post.author.avatar.url }}">
                </div>
                <div class="handle">
                    <h4>{{ post.author.username }}</h4>
                    <p class="text-muted">{{ post.created|timesince }} назад</p>
                </div>
            </div>

            {% if post.image %}
                <div class="image">
                    <img src="{{ post.image.url }}">
                </div>
            {% endif %}

            <div class="caption">
                <p>{{ post.content }}</p>
            </div>

            <div class="actions">
                <form class="like-form" method="POST" data-url="{% url 'feed:like-post-view' %}">
                    {% csrf_token %}
                    <input type="hidden" name="post_id" value="{{post.id}}">
                    <button type="submit" class="sth" style="background-color: rgba(0, 0, 0, 0);">
                        <i class="uil uil-heart {% if user in post.liked.all %} liked {% endif %}"></i>
                    </button>
                    <span class="like-count">{{ post.liked.count }}</span>
                    <span><i class="uil uil-comment-dots" style="background-color: rgba(0, 0, 0, 0);"></i></span>
                    <span class="comments-count">{{ post.comments.count }}</span>
                </form>
            </div>
            <div class="comm">
                <form action="" method="POST" class="ui form">
                    {% csrf_token %}
                    <input type="hidden" name="post_id" value="{{post.id}}">
                    {{comment_form}}
                    <button class="btn btn-primary" name="comment_button">comment</button>
                </form>
            </div>
            <div class="see-comments">
                <button class="cmt_btn ui button mb-5">show / hide comments</button>
                <div class="comment-box" style="display: none;">
                    {% include 'feed/comments_list.html' with post=post %}
                </div>
            </div>
        </div>
    {% endfor %}
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
{% endblock %}