<div class="feed">
    <div class="head">
        <div class="user">
            {% if obj.author.avatar %}
                <div class="profile-photo">
                    <img src="{{obj.author.avatar.url}}">
                </div>

            {% else %}
            <div class="profile-photo">
                <img src="static/images/avatars/default_avatar.png">
            </div>
            {% endif %}
            <div class="info">
                <h3>{{obj.author.username}}</h3>
                <p>{{obj.author}} - {{obj.created | timesince}} ago</p>
                <!-- display "just now" if post was creted just now -->
            </div>
        </div>
        <form class="bookmark-form" method="POST" data-url="{% url 'feed:bookmark-view' %}">
            {% csrf_token %}
            <input type="hidden" name="post_id" value="{{obj.id}}">
            <button type="submit" class="bookmark" style="background-color: var(--color-white)">
                <i class="uil uil-bookmark-full {% if user in obj.bookmark.all %} bookmarked {% endif %}"></i>
            </button>
        </form>
        
    </div>

    {% if obj.image %}
    <div class="photo">
        <img src="{{obj.image.url}}">
    </div>
    {% endif %}

    <div class="caption">
        <p>{{obj.content}}</p>
    </div>

    <div class="action-buttons">
        <div class="interaction-buttons">
            <form class="like-form" method="POST" data-url="{% url 'feed:like-post-view' %}">
                {% csrf_token %}
                <input type="hidden" name="post_id" value="{{obj.id}}">
                <button type="submit" class="sth" style="background-color: rgba(0, 0, 0, 0);">
                    <i class="uil uil-heart {% if user in obj.liked.all %} liked {% endif %}"></i>
                </button>
                <span class="like-count">{{ obj.liked.count }}</span>
                <span><i class="uil uil-comment-dots" style="background-color: rgba(0, 0, 0, 0);"></i></span>
                <span class="comments-count">{{ obj.comments.count }}</span>
            </form>
        </div>
    </div>
    <div class="see-comments">
        <button class="cmt_btn ui button mb-5">show / hide comments</button>
        <div class="comment-box" style="display: none;">
            {% include 'feed/comments_list.html' with post=obj %}
        </div>
        <div class="comment">
            <form action="" method="POST" class="ui form">
                {% csrf_token %}
                <input type="hidden" name="post_id" value="{{obj.id}}">
                {{comment_form}}
                <button class="btn btn-primary" name="comment_button">comment</button>
            </form>
        </div>
    </div>
</div>