{% load static %}

<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://unicons.iconscout.com/release/v2.1.6/css/unicons.css">
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
    </head>
    <body>
        <!----------------- UPPER PANEL -------------------->
        <nav class="upper-panel">
            <div class="grid-container">
                <h2 class="logo">pinkler<div id ="point"></div></h2>
                <div class="center-container">
                    <div class="search-input">
                        <input type="search" placeholder="Поиск...">
                    </div>
                    <a class="nofitications-item">
                        <span><i class="uil uil-bell"><small class="notification-count">?</small></i></span>
                    </a>
                </div>
            </div>
        </nav>
        
        <!----------------- MAIN -------------------->
        <main>
            <div class="grid-container">
                <div class="left">
                    <!----------------- PROFILE -------------------->
                    <a class="profile-card">
                        <div class="profile-photo">
                            <img src="">
                        </div>
                        <div class="handle">
                            <h4>{{ user.username }}</h4>
                            <p class="muted">{{ user.email }}</p>
                        </div>
                    </a>

                    <!----------------- SIDEBAR -------------------->
                    <div class="sidebar">
                        <a class="menu-item">
                            <span><i class="uil uil-home"></i></span>
                            <h3>Главная</h3>
                        </a>
                        <a class="menu-item">
                            <span><i class="uil uil-envelope-alt"><small class="notification-count">?</small></i></span>
                            <h3>Сообщения</h3>
                        </a>
                        <a class="menu-item">
                            <span><i class="uil uil-users-alt"><small class="notification-count">?</small></i></span>
                            <h3>Друзья</h3>
                        </a>
                        <a class="menu-item">
                            <span><i class="uil uil-bookmark"></i></span>
                            <h3>Закладки</h3>
                        </a>
                        <a class="menu-item">
                            <span><i class="uil uil-palette"></i></span>
                            <h3>Темы</h3>
                        </a>
                    </div>
                    <!----------------- CREATE POST -------------------->
                    <label class="btn btn-primary">Создать пост</label>
                </div>

                <!----------------- MIDDLE -------------------->
                {% block middle %}
                {% endblock %}
            </div>
        </main>
    </body>
</html>