{% load static %}

<!DOCTYPE html>
<html lang="ru">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://unicons.iconscout.com/release/v2.1.6/css/unicons.css">
        <link rel="stylesheet" href="{% static 'css/core.css' %}">
    </head>
    <body>
        <!----------------- UPPER PANEL -------------------->
        <nav class="upper-panel">
            <div class="grid-container">
                <!----------------- LOGO -------------------->
                <h2 class="logo">pinkler<div id="point"></div></h2>
                <!----------------- SEARCH INPUТ -------------------->
                <div class="middle-bar">
                    <div class="search-input">
                        <i class="uil uil-search"></i>
                        <input type="search" placeholder="Поиск...">
                    </div>
                    <!----------------- NOTIFICATIONS -------------------->
                    <a class="nofitications-item">
                        <span><i class="uil uil-bell"><small class="notification-count">?</small></i></span>
                    </a>
                </div>
            </div>
        </nav>
        <!----------------- MAIN -------------------->
        <main>
            <div class="grid-container">
                <div class="left">
                    <!----------------- PROFILE CARD -------------------->
                    <a class="profile-card">
                        <div class="profile-photo">
                            <img src="">
                        </div>
                        <div class="handle">
                            <h4>{{ user.username }}</h4>
                            <p class="muted">{{ user.email }}</p>
                        </div>
                    </a>
                    <!----------------- SIDEBAR -------------------->
                    <div class="sidebar">
                        <a class="sidebar-item">
                            <span><i class="uil uil-home"></i></span>
                            <h3>Главная</h3>
                        </a>
                        <a class="sidebar-item">
                            <span><i class="uil uil-envelope-alt"><small class="notification-count">?</small></i></span>
                            <h3>Сообщения</h3>
                        </a>
                        <a class="sidebar-item">
                            <span><i class="uil uil-users-alt"><small class="notification-count">?</small></i></span>
                            <h3>Друзья</h3>
                        </a>
                        <a class="sidebar-item">
                            <span><i class="uil uil-bookmark"></i></span>
                            <h3>Закладки</h3>
                        </a>
                        <a class="sidebar-item" id="theme">
                            <span><i class="uil uil-palette"></i></span>
                            <h3>Темы</h3>
                        </a>
                    </div>
                    <!----------------- CREATE POST -------------------->
                    <button class="btn btn-primary">Создать пост</button>
                </div>
                
                <!----------------- MIDDLE -------------------->
                <div class="middle">
                    {% block content %}
                    {% endblock %}
                </div>
            
                <!----------------- RIGHT -------------------->
                <div class="right">
                    <!----------------- CHATS -------------------->
                    <div class="chats">
                        <h4 class="heading">Недавние сообщения</h4>
                        <!----------------- CHAT -------------------->
                        <div class="chat-item">
                            <div class="profile-photo">
                                <img src="">
                            </div>
                            <div class="handle">
                                <h4>wyborn</h4>
                                <p class="text-muted">WASSUP!</p>
                            </div>
                        </div>
                        <!----------------- CHAT -------------------->
                        <div class="chat-item">
                            <div class="profile-photo">
                                <img src="">
                            </div>
                            <div class="handle">
                                <h4>kurylov89iq</h4>
                                <p class="text-muted">А вот я думаю...</p>
                            </div>
                        </div>
                    </div>
                    <!----------------- FRIEND REQUESTS -------------------->
                    <div class="friend-requests">
                        <h4 class="heading">Заявки в друзья</h4>
                        <!----------------- REQUEST -------------------->
                        <div class="request">
                            <div class="info">
                                <div class="profile-photo">
                                    <img src="">
                                </div>
                                <div class="handle">
                                    <h4>mesenev</h4>
                                    <p class="text-muted">8 общих друзей</p>
                                </div>
                            </div>
                            <div class="actions">
                                <button class="btn btn-primary">Принять</button>
                                <button class="btn">Отклонить</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>

        <!----------------- THEME CUSTOMIZATION -------------------->
        <div class="customize-theme">
            <div class="card">
                <h2>Настройки темы</h2>
                <p class="text-muted">Изменяйте размер шрифта, цвет и фон</p>
                <!----------- FONT SIZE ----------->
                <div class="font-size">
                    <h3>Размер шрифта</h3>
                    <div>
                        <h6>Aa</h6>
                        <div class="choose-size">
                            <span class="font-size-1"></span>
                            <span class="font-size-2"></span>
                            <span class="font-size-3 active"></span>
                            <span class="font-size-4"></span>
                            <span class="font-size-5"></span>
                        </div>
                        <h4>Aa</h4>
                    </div>
                </div>
                <!----------- PRIMARY COLORS ----------->
                <div class="color">
                    <h3>Цвет</h3>
                    <div class="choose-color">
                        <span class="color-1 active"></span>
                        <span class="color-2"></span>
                        <span class="color-3"></span>
                        <span class="color-4"></span>
                        <span class="color-5"></span>
                    </div>
                </div>
                <!----------- BACKGROUND COLORS ----------->
                <div class="background">
                    <h3>Фон</h3>
                    <div class="choose-bg">
                        <div class="bg-1 active" data-theme="light">
                            <span></span><h5 for="bg-1">Светлый</h5>
                        </div>
                        <div class="bg-2" data-theme="dim">
                            <span></span><h5 for="bg-2">Ночной</h5>
                        </div>
                        <div class="bg-3" data-theme="dark">
                            <span></span><h5 for="bg-3">Темный</h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <script src="{% static 'scripts/index.js' %}"></script>
    </body>
</html>