{% extends 'users/auth_base.html' %}

{% block title %}
    <title>Вход</title>
{% endblock %}

{% block container-content %}
    <h2>Вход</h2>
    <form method="POST" action="{% url 'login' %}">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="Войти">
    </form>
    <div class="auth-link">
        <p>Забыли пароль? <a href="{% url 'password_reset' %}">Восстановить</a></p>
        <p>Нет аккаунта? <a href="{% url 'register' %}">Регистрация</a></p>
    </div>
{% endblock %}